<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "CourseLab" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

<div class="row">
  <div class="logo">
    <%= link_to image_tag("/matlab.jpg"), root_path %>
  </div>
  <div class="search">
    <form role="search" action="/courses/search" method="get"> <input type="text" name="q" placeholder="Search Courses" maxlength="100" autocomplete="off"> <button type="submit" class="button">Search</button>
    </form>
  </div>
  <div class="nav"
    <ul class="siteLinks"
        <li><%= link_to 'Course Index', courses_path %></li>
        <li><%= link_to 'New Course', new_course_path %></li>
    </ul>
  </div>
</div>


<div class="container">
  <% if !notice.nil? %><p class="alert-box radius success"><%= notice %></p><% end %>
  <% if !alert.nil? %><p class="alert-box radius warning"><%= alert %></p><% end %>
</div>


  <body>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
